<div id="footer">
    <p style="text-align: center;">Copyright &copy; 2022 - <a href="#">Web News</a> &middot; All Rights Reserved</p>
    <br>
    <strong><p style="text-align: center;">Developed by:
         <a href="https://ooa.pythonanywhere.com/">Opeyemi Adebayao</a></p></strong><br>

         <p> <b> <a href="{% url 'blog:articles' %}" style="font-size: 14px;">Home</a> |  <a href="#">About Us</a>
         | <a href="#">Contact Us</a> | <a href="#">Privacy Policy</a>
         <a href="{% url 'blog:articles' %}"  style="float: right;"> Latest News</a>
        </b></p>

         
         
  </div>
  <!-- END footer -->
